.buttonAdd {
    background-color: green;
    &:hover {
        background-color: rgb(11, 83, 11);
    }
}

.buttonCancell {
    background-color: red;
    &:hover {
        background-color: rgba(255, 0, 0, 0.468);
    }
}

.button {
    border: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}