:root {
  --main-color-darkestGrey: rgb(83, 82, 85);
  --main-color-middleGrey: rgb(152, 152, 152);
  --main-color-lightestGrey: rgb(208, 208, 208);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(42, 114, 207);
  padding-top: 30px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.column {
  background-color: var(--main-color-lightestGrey);
  padding: 10px;
  border-radius: 3px;
  height: fit-content;
}

.column__header {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 0 10px 10px;
  color: var(--main-color-darkestGrey);
}

.cardList {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 0;
  gap: 10px;
}

.column__footer {
  color: var(--main-color-middleGrey);
  text-align: left;
  padding: 10px 10px 0;
  cursor: pointer;
}

.column__footer:hover {
  color: var(--main-color-darkestGrey);
}

.footerCont {
  text-align: left;
}

.footerAdd {
  display: flex;
  flex-direction: column;
}

.footerArea {
  display: block;
  font-family: inherit;
  margin-bottom: 10px;
  font-size: inherit;
  border: 1px solid white;
  height: 80px;
  resize: none;
  padding: 3px;
  outline:none;
  border-radius: 3px;
}

.buttonsBlock {
  display: flex;
  gap: 5px;
}