.card {
    background-color: white;
    position: relative;
    cursor: pointer;
    color: var(--main-color-darkestGrey);
    text-align: left;
    border-radius: 3px;
    padding: 10px;
    cursor: move;
}

.card:hover {
    background-color: rgb(226, 226, 226);
}

.cardDragged {
    background-color: rgb(124, 124, 124);
}

.card-closeBtn {
    position: absolute;
    right: 5px;
    top: 15px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    display: block;
    z-index: 10;
}

.card-closeBtn:before,
.card-closeBtn:after {
    position: absolute;
    left: 4px;
    content: " ";
    height: 10px;
    width: 2px;
    background-color: var(--main-color-lightestGrey);
}

.card-closeBtn:before {
    transform: rotate(45deg);
}
.card-closeBtn:after {
    transform: rotate(-45deg);
}
